---
import Store from '../components/Store.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Frontend Mentor | E-commerce product page">
	<main>
		<Store />
	</main>
</Layout>
